# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
.postgres_data/
media/*
!media/.gitkeep
logs/*
!logs/.gitkeep

# Environment
.env
.env.*
!.env.example

# Tests and coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
BACKUPS/
*.backup
models_inspectdb.py
